/*
===============
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/*
===============
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  --clr-primary-5: #2caeba;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-green-dark: hsl(125, 67%, 35%);
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-white: #fff;
  --ff-primary: "Rubik", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 700px;
}
/*
===============
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  margin-top: 5rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-9);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}
.center-btn {
  display: block;
  width: 12rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* added during recording */
.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}
.section-title {
  margin-bottom: 4rem;
  text-align: center;
}
.bg-grey {
  background: var(--clr-grey-10);
}
/* page links */

/* social links */
.social-links {
  margin-top: 2rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
}
.social-link {
  font-size: 1.75rem;
  color: var(--clr-grey-1);
  transition: var(--transition);
}
.social-link:hover {
  color: var(--clr-primary-5);
}
/*
===============
Navbar
===============
*/

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  z-index: 200;
  background: var(--clr-white);
}
.nav-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-header img {
  margin-bottom: 0.375rem;
}
.toggle-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  cursor: pointer;
  transition: var(--transition);
}
.toggle-btn:hover {
  color: var(--clr-primary-2);
}
.nav-links {
  display: none;
}
@media screen and (min-width: 768px) {
  .toggle-btn {
    display: none;
  }
  .nav-links {
    display: flex;
    justify-content: flex-end;
  }

  .nav-links a {
    margin-right: 2rem;
    text-transform: capitalize;
    color: var(--clr-grey-1);
    font-weight: bold;
    letter-spacing: var(--spacing);
    transition: var(--transition);
    padding: 0.5rem 0;
  }
  .nav-links a:hover {
    color: var(--clr-primary-5);
    box-shadow: 0px 2px var(--clr-primary-5);
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    background: transparent;
  }
}
/*
===============
Sidebar
===============
*/
.sidebar {
  background: var(--clr-grey-10);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: var(--transition);
  transform: translateX(-100%);
}
.show-sidebar {
  opacity: 1;
  transform: translateX(0);
}
.sidebar-links li {
  opacity: 0;
}
.sidebar-links li a {
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: var(--clr-grey-5);
  letter-spacing: var(--spacing);
  margin-bottom: 0.5rem;
  font-size: 2rem;
  transition: var(--transition);
  border-radius: var(--radius);
}
.sidebar-links li a:hover {
  background: var(--clr-primary-9);
  color: var(--clr-primary-5);
}
.close-btn {
  position: absolute;
  right: 4.75%;
  top: 2.75%;
  font-size: 2.5rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-dark);
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .sidebar {
    transform: translateX(-100%);
  }
}
/*
===============
Sidebar Animation
===============
*/
.sidebar-links li {
  animation: slideRight 0.5s ease-in-out 0.3s forwards;
}
.sidebar-links li:nth-of-type(1) {
  animation-delay: 0.25s;
}
.sidebar-links li:nth-of-type(2) {
  animation-delay: 0.5s;
}
.sidebar-links li:nth-of-type(3) {
  animation-delay: 0.75s;
}
.sidebar-links li:nth-of-type(4) {
  animation-delay: 1s;
}
.sidebar-links li:nth-of-type(5) {
  animation-delay: 1.25s;
}
@keyframes slideRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.sidebar-icons li {
  opacity: 0;
  animation: slideUp 0.5s ease-in-out 0.3s forwards;
}
.sidebar-icons li a {
  color: var(--clr-grey-1);
}
.sidebar-icons li:nth-of-type(1) {
  animation-delay: 0.25s;
}
.sidebar-icons li:nth-of-type(2) {
  animation-delay: 0.5s;
}
.sidebar-icons li:nth-of-type(3) {
  animation-delay: 0.75s;
}
.sidebar-icons li:nth-of-type(4) {
  animation-delay: 1s;
}
.sidebar-icons li:nth-of-type(5) {
  animation-delay: 1.25s;
}
@keyframes slideUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*
===============
Hero
===============
*/
/* underline added to globals */
.hero {
  position: relative;
  /*flex-basis: 50%;*/
}

.hero-center {
  height: 100%;
  display: grid;
  align-items: center;
}

.hero .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
.hero-info {
  background: var(--clr-primary-10);
}
.hero-img {
  display: none;
}
.hero-img-svg {
  display: none;
}
.hero-img {
  display: none;
}
.hero-info h4 {
  color: var(--clr-grey-5);
}
.hero-icons {
  justify-items: flex-start;
}
.hero .btn {
  margin-top: 1.25rem;
}

@media screen and (min-width: 992px) {
  /*.hero::before {*/
  /*  content: "";*/
  /*  position: absolute;*/
  /*  top: 0;*/
  /*  left: 60%;*/
  /*  right: 0;*/
  /*  bottom: 0;*/
  /*  background: var(--clr-white);*/
  /*}*/
  .hero-center {
    grid-template-columns: repeat(12, 1fr);
  }

  .hero h4 {
    font-size: 0.85rem;
  }
  .hero-info {
    grid-row: 1/1;
    grid-column: 1 / span 8;
  }
  .hero-img {
    display: block;
    grid-row: 1/1;
    grid-column: 7/-1;
  }
  .hero-img-svg {
    width: 100%;
    position: relative;
    display: block;
    grid-row: 1/1;
    grid-column: 7/-1;
  }
}
@media screen and (min-width: 1170px) {
  .hero h4 {
    font-size: 1rem;
  }

  .hero-info {
    grid-column: 1 / span 8;
  }

  .hero h4 {
    line-height: 1;
  }
}

.hero-image {
  border-radius: 3px;
  height: 100%;
  max-width: 100%;
}

.hero-image picture img {
  width: 100%;
}

@media (max-width: 768px) {
  .hero-image {
    /*flex-basis: 45%;*/
    width: auto;
    height: auto;
  }

  .hero-image picture img {
    width: auto;
  }
}

@media (max-width: 424px) {
  .hero-image {
    margin-top: 10px;
  }
}

/*
===============
Services
===============
*/
.service {
  background: var(--clr-white);
  padding: 3rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: var(--radius);
  text-align: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.service-icon {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.service .underline {
  width: 3rem;
  height: 0.12rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.service p {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.service:hover {
  background: var(--clr-primary-5);
  color: var(--clr-primary-9);
}
.service:hover p {
  color: var(--clr-primary-9);
}
.service:hover .underline {
  background: var(--clr-primary-9);
}
@media screen and (min-width: 676px) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .services-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*
===============
Jobs
===============
*/

.jobs-center {
  width: 80vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
.btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4rem;
}
.job-btn {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1.25rem;
  letter-spacing: var(--spacing);
  margin: 0.5rem;
  transition: var(--transition);
  cursor: pointer;
  padding: 0.25rem 0;
  line-height: 1;
}
.job-btn:hover {
  color: var(--clr-primary-5);
  box-shadow: 0 2px var(--clr-primary-5);
}
.active-btn {
  color: var(--clr-primary-5);
  box-shadow: 0 2px var(--clr-primary-5);
}
.job-info {
  /* min-height: 420px; */
}
.job-info h3 {
  font-weight: 400;
}
.job-info h4 {
  text-transform: uppercase;
  color: var(--clr-grey-5);
  background: var(--clr-grey-9);
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: var(--radius);
}
.job-date {
  font-size: 0.75rem;
  letter-spacing: 1px;
}
.job-desc {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 1.25rem;
}
.job-desc p {
  margin-bottom: 0;
  color: var(--clr-grey-3);
}
.job-icon {
  color: var(--clr-primary-5);
}
@media screen and (min-width: 992px) {
  .jobs-center {
    width: 90vw;
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 4rem;
  }
  .btn-container {
    flex-direction: column;
    justify-content: flex-start;
  }

  .active-btn {
    box-shadow: -2px 0 var(--clr-primary-5);
  }
  .job-btn:hover {
    box-shadow: -2px 0 var(--clr-primary-5);
  }
  .job-date {
    font-size: 1rem;
    letter-spacing: var(--spacing);
  }
}

/*
===============
Projects
===============
*/
.projects {
  background: var(--clr-grey-10);
}
.project {
  display: grid;
  margin-bottom: 4rem;
}
.project-img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  height: 19rem;
  z-index: 1;
}
.project-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, var(--clr-primary-5), #222);
  opacity: 0.85;
  transition: var(--transition);
}
.project:hover .project-img::after {
  opacity: 0;
}
.project-info {
  background: var(--clr-white);
  padding: 1rem 2rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.project-number {
  display: inline-block;
  font-size: 1.25rem;
  color: var(--clr-primary-5);
  margin-bottom: 0.75rem;
}
.project-slug h3 {
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  color: var(--clr-grey-1);
  transition: var(--transition);
}
.project-slug h3:hover {
  color: var(--clr-primary-5);
}
.project-desc {
  word-spacing: 15px;
  color: var(--clr-grey-3);
}
.project-stack {
  margin-bottom: 1rem;
}
.project-stack span,
.about-stack span {
  display: inline-block;
  background: var(--clr-grey-9);
  color: var(--clr-grey-5);
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}
.about-stack span {
  margin-top: 0.5rem;
}
.project-icon {
  color: var(--clr-primary-5);
  font-size: 1.25rem;
  margin-right: 0.5rem;
  transition: var(--transition);
}
.project-icon:hover {
  color: var(--clr-primary-1);
}
@media screen and (min-width: 576px) {
  .project-img {
    height: 19rem;
  }
}
@media screen and (min-width: 768px) {
  .project-img {
    height: 22rem;
  }
}
@media screen and (min-width: 992px) {
  .project {
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }
  .project-img {
    grid-column: 1 / span 8;
    /* grid-column-end: 8; */
    grid-row: 1 / 1;
    height: 30rem;
    border-radius: var(--radius);
    box-shadow: var(--dark-shadow);
  }
  .project-info {
    border-radius: var(--radius);
    box-shadow: var(--dark-shadow);

    z-index: 1;
    grid-column: 5 /12;
    grid-row: 1 / 1;
  }
  .project:nth-of-type(even) .project-img {
    grid-column: 5 / -1;
    grid-row: 1 / 1;
  }
  .project:nth-of-type(even) .project-info {
    grid-column: 2 / span 7;
    grid-row: 1 / 1;
    text-align: left;
  }
}

/*
===============
Footer
===============
*/
.footer {
  margin-bottom: 20px;
}
.footer h4 {
  margin-top: 0.5rem;
  color: var(--clr-white);
  font-weight: normal;
  text-transform: uppercase;
}
.footer h4 span {
  color: var(--clr-primary-5);
}
.footer-links {
  margin: 0 auto 1rem auto;
}
.footer .social-link {
  color: var(--clr-white);
}
.footer .social-link:hover {
  color: var(--clr-primary-5);
}
/*
===============
Pages
===============
*/

.project-template-page,
.projects-page,
.about-page,
.contact-page {
  background: var(--clr-grey-10);
  min-height: calc(100vh - 5rem - 9rem);
}

/*
===============
Project Template Page
===============
*/
.project-template-page {
  padding-top: 3rem;
  text-align: center;
}
.project-template-page h2 {
  text-transform: uppercase;
}
.project-template-page p {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
}
/*
===============
About Page
===============
*/
.about-page {
  padding: 7rem 0;
}
.about-img {
  margin-bottom: 2rem;
  height: 25rem;
}
.about-img-svg {
  margin-bottom: 2rem;
  height: 25rem;
  width: 100%;
  display: block;
}
.about-text .section-title {
  margin-bottom: 2rem;
  text-align: left;
}
.about-text .underline {
  margin-left: 0;
  margin-right: 0;
}
.about-text p {
  line-height: 2;
}
.stack-container {
  width: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 0.5rem;
}
.stack-container span {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: var(--clr-grey-4);
}
.stack-icon {
  color: var(--clr-primary-5);
  margin-right: 0.25rem;
  font-size: 1rem;
}
@media screen and (min-width: 992px) {
  .about-center {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    column-gap: 4rem;
  }
  .about-img,
  .about-img-svg {
    grid-column: 1 / span 5;
    margin-bottom: 0;
  }
  .about-text {
    grid-column: 6 / -1;
  }
}
/*
===============
Contact Page
===============
*/
.contact-page {
  display: grid;
  place-items: center;
  padding: 5rem 0;
}
.contact-form {
  background: var(--clr-white);
  border-radius: var(--radius);
  text-align: center;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  width: 90vw;
  max-width: 35rem;
}
.contact-form:hover {
  box-shadow: var(--dark-shadow);
}
.contact-form h3 {
  padding-top: 1.25rem;
  color: var(--clr-grey-5);
}
.form-group {
  padding: 1rem 1.5rem;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  margin-bottom: 1.25rem;
  background: var(--clr-grey-10);
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.form-control::placeholder {
  font-family: var(--ff-primary);
  color: var(--clr-grey-1);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.submit-btn {
  display: block;
  width: 100%;
  padding: 1rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

/*
=========================================================================================================
                                        New Styles from React
=========================================================================================================
*/
:root {
  --basic-grey-light: #77767b;
  --basic-grey: #454545;
  --basic-white: #ffffff;
  --basic-black: #000000;

  --accent-red: #ED1C24;

  --background--grey: #f6f6f6;
  /*--background--grey: #dddddd;*/

  --transparent: transparent;

  --desktop-width: 1160px;
  --mobile-width: 320px;
  --tablet-width: 768px;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--basic-grey-light);
}

*:focus {
  outline: 1px none var(--accent-red);
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

/*
===============
Header
===============
*/

header {
  background-image: linear-gradient(var(--background--grey) 40px, transparent 40px);
  padding: 0 10px;
}


@media (min-width: 1160px) {
  header {
    padding: 0;
  }
}

.header {
  margin: 0 auto;
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

@media (min-width: 768px) {
  .header {
    width: 100%;
  }
}

@media (min-width: 1160px) {
  .header {
    width: 1160px;
  }
}

.header__tel {
  color: var(--basic-grey);
}


.header__tel:hover,
.header__tel:active {
  color: var(--accent-red);
}

.header__menu {
  margin: 0;
  padding: 0;
  display: none;
  list-style: none;
}

@media (min-width: 768px) {
  .header__menu {
    display: flex;
  }
}

.header__menu li:not(:first-child) {
  margin-left: 15px;
}

.header__menu a {
  color: var(--basic-grey-light);
}

.header__menu a:hover,
.header__menu a:active {
  color: var(--accent-red);
}

.socials {
  margin-left: 7px;
  padding-left: 7px;
  border-left: 1px solid var(--basic-grey-light);
}

@media (min-width: 768px) {
  .socials {
    margin-left: 15px;
    padding-left: 15px;
    margin-right: auto;
  }
}

.socials a:not(:last-child) {
  margin-right: 15px;
}

.socials a {
  color: var(--basic-grey-light);
}

.socials a:hover,
.socials a:active {
  color: var(--accent-red);
}

/*
===============
Nav
===============
*/

.nav {
  margin: 20px auto 10px;
  width: 320px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .nav {
    width: 95vw;
    display: block;
  }
}

@media (min-width: 1160px) {
  .nav {
    width: 1160px;
  }
}

@media (max-width: 1050px) {
  .usermenu .search-field {
    display: none;
  }
}

.usermenu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

@media (min-width: 768px) {
  .usermenu {
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .logo {
    margin-left: -17px;
  }
}

.searchform__input {
  display: none;
  padding-left: 20px;
  height: 40px;
  width: 300px;
  background-color: var(--background--grey);
  border: none;
  border-radius: 5px;
  color: var(--basic-grey-light);
}

@media (min-width: 1160px) {
  .searchform__input {
    display: inline-block;
  }
}

.usermenu ul {
  margin: 0;
  padding: 0;
  display: none;
  justify-content: flex-end;
  list-style: none;
}

@media (min-width: 768px) {
  .usermenu ul {
    display: flex;
  }
}

.usermenu li:not(:first-child) {
  margin-left: 20px;
}

.usermenu a {
  display: flex;
  align-items: center;
  color: var(--basic-grey);
}

.usermenu a:hover,
.usermenu a:active {
  color: var(--accent-red);
}

.usermenu a i {
  margin-right: 7px;
  font-size: 12px;
  color: var(--basic-grey-light);
}

.usermenu a:hover i,
.usermenu a:active i {
  color: var(--accent-red);
}

.usermenu a img {
  height: 33px;
  width: auto;
}

@media (min-width: 768px) {
  .usermenu a img {
    width: 217px;
    height: 48px;
  }
}

.mainnav {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

@media (min-width: 768px) {
  .mainnav {
    justify-content: initial;
  }
}

.mainnav ul {
  padding: 0;
  display: none;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

@media (min-width: 768px) {
  .mainnav ul {
    display: flex;
  }
}

.nav .mainnav ul {
  margin-bottom: 0;
}

.mainnav li:not(:last-child) {
  margin-right: 20px;
}

.mainnav a {
  color: var(--basic-grey);
}

.mainnav a:hover,
.mainnav a:active,
.mainnav .aActive {
  color: var(--accent-red);
}

.mainnav button {
  padding: 0 15px;
  height: 30px;
  border: 1px solid var(--basic-grey-light);
  border-radius: 5px;
  background-color: var(--transparent);
  color: var(--basic-grey-light)
}

@media (min-width: 768px) {
  .mainnav button {
    margin-right: 20px;
  }
}

.mainnav button i {
  margin-right: 5px;
}

.mainnav button:hover,
.mainnav button:active {
  background-color: var(--accent-red);
  border-color: var(--accent-red);
  color: var(--basic-white);
}
input[type="search"]::-webkit-search-cancel-button {

  /* Remove default */
  -webkit-appearance: none;

  /* Now your own custom styles */
  height: 10px;
  width: 10px;
  background: red;
  /* Will place small red box on the right of input (positioning carries over) */

}

.catalog-link {
  display: flex;
  align-items: center;
}

.catalog-link__icon {
  margin-right: 3px;
}

/*
===============
Hero
===============
*/

.mainBanner {
  padding: 40px 0;
  background-color: #f6f6f6;
}

@media (max-width: 767px) {
  .hero {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .hero {
    /*width: 47%;*/
  }
}

.hero  h1 {
  margin: 0 0 10px 0;
  font-weight: bold;
  color: var(--accent-red);
  font-size: 32px;
  line-height: 1;
}

@media (min-width: 768px) {
  .hero h1 {
    font-size: 42px;
  }
}

@media (min-width: 1160px) {
  .hero h1 {
    font-size: 50px;
  }
}

.hero h2 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  color: var(--basic-grey);
  font-size: 24px;
  font-weight: normal;
}

@media (min-width: 768px) {
  .hero h2 {
    text-align: left;
    margin-bottom: 50px;
  }
}

@media (min-width: 1160px) {
  .hero h2 {
    text-align: left;
    margin-bottom: 100px;
  }
}

.hero p {
  display: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  color: var(--basic-grey-light);
  font-size: 14px;
}

@media (min-width: 768px) {
  .hero p {
    display: block;
  }
}

.hero a {
  margin-right: 10px;
  padding: 12px 30px;
  box-sizing: border-box;
  height: 40px;
  display: none;
  vertical-align: middle;
  background-color: var(--accent-red);
  border-radius: 5px;
  color: var(--basic-white);
  font-size: 14px;
}

@media (min-width: 768px) {
  .hero a {
    display: inline-block;
  }
}

.hero a:hover,
.hero a:active {
  background-color: var(--basic-grey);
}

.hero a:first-of-type {
  background-color: var(--basic-grey);
  display: inline-block;
  margin-bottom: 10px
}

.hero a:first-of-type:hover,
.hero a:first-of-type:active {
  background-color: var(--accent-red);
}

@media (min-width: 864px) {
  .hero a:first-of-type {
    margin-bottom: 0px
  }
}

.hero-button {
  margin-right: 5px;
  margin-bottom: 5px;
}

.mainBanner img {
  width: 200px;
}

@media (min-width: 768px) {
  .mainBanner img {
    width: 350px;
  }
}

@media (min-width: 1160px) {
  .mainBanner img {
    width: 700px;
  }
}

@media (min-width: 1270px) {
  .mainBanner img {
    margin-right: -55px;
  }
}

.wrapper{
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .wrapper {
    box-sizing: border-box;
    padding: 0 20px;
  }
}

@media (min-width: 1160px) {
  .wrapper {
    padding: 0;
    box-sizing: initial;
    width: 1160px;
  }
}

.wrapper__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

@media (min-width: 768px) {
  .wrapper__hero {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-column-gap: 20px;
    /*flex-direction: row;*/
    text-align: left;
  }
}

.ant-form.ant-form-horizontal{
  margin-top: 15px;
}

.ant-form-item {
  justify-content: center;
}

.ant-form-item .ant-col-offset-8 {
  margin-left: 0;
}

.wrapper__formSection {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 60px;
}

@media (min-width: 768px) {
  .wrapper__formSection {
    grid-template-columns: 1fr 1fr;
  }
}

.wrapper__article {
  box-sizing: border-box;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
}

@media (min-width: 1160px) {
  .wrapper__article {
    padding: 0;
    grid-template-columns: 1fr 1fr;
  }
}

.wrapper__footer {
  box-sizing: border-box;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
}

@media (min-width: 450px) {
  .wrapper__footer {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }
}

@media (min-width: 768px) {
  .wrapper__footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0;
  }
}

@media (min-width: 1160px) {
  .wrapper__footer {
    padding: 0;
    grid-column-gap: 30px;
  }
}


/* product types*/


.products {
  padding: 50px 0;

}

.productsList {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  list-style: none;
}

@media (min-width: 768px) {
  .productsList {
    width: initial;
    margin: 0;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1160px) {
  .productsList {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.productsList a {
  padding: 20px 0;
  min-height: 150px;
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: var(--background--grey);
  align-items: center;
}

.product-heading {
  margin: 5px 0;
  color: var(--basic-black);
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-size: 1.17em;
  letter-spacing: normal;
  font-weight: 700;
}

.productsList p {
  margin: 0;
  color: var(--basic-grey);
}

.productsList a:hover,
.productsList a:active {
  border: 1px solid var(--accent-red);
}


/* Description */

.desc {
  padding-bottom: 50px;
}

.desc h2 {
  text-align: center;
  color: var(--basic-black);
  font-size: 22px;
  font-family: 'Rubik', sans-serif;
  letter-spacing: normal;
  font-weight: 700;
}

@media (min-width: 768px) {
  .desc h2 {
    font-size: 35px;
  }
}

.desc__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 30px;
}

@media (min-width: 768px) {
  .desc__wrapper {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1160px) {
  .desc__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

.desc p {
  margin: 0;
  font-size: 18px;
  color: var(--basic-grey);
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

@media (min-width: 1160px) {
  .desc p {
    text-align: left;
  }
}

.desc h3 {
  margin: 20px 0 10px;
  font-size: 22px;
  color: var(--basic-grey);
  text-align: center;
  font-family: 'Rubik', sans-serif;
  letter-spacing: normal;
  font-weight: 700;
}

@media (min-width: 1160px) {
  .desc h3 {
    text-align: left;
  }
}

.desc img {
  margin: 0 auto;
  border-radius: 5px;
  width: 320px;
  height: auto;
}

@media (min-width: 768px) {
  .desc img {
    width: 550px;
    height: 412px;
  }
}

@media (min-width: 1160px) {
  .desc img {
    margin: 0;
    width: 550px;
    height: 412px;
  }
}

@media (max-width: 768px) {
  .desc__wrapper>div {
    padding: 0 10px;
  }
}


/* Line Form */


.LineForm {
  margin: 30px auto 0;
  padding: 20px 30px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--basic-grey);
  text-align: center;
}

@media (min-width: 768px) {
  .LineForm {
    width: 768px;
    flex-direction: row;
    text-align: left;
  }
}

@media (min-width: 1160px) {
  .LineForm {
    width: 1160px;
  }
}

.LineForm h5 {
  margin: 0;
  color: var(--basic-white);
  font-size: 18px;
  font-weight: bold;
}

.LineForm h5 span {
  font-weight: normal;
  opacity: 0.5;
}

.LineForm a {
  margin-top: 10px;
  margin-right: 10px;
  padding: 9px 30px;
  box-sizing: border-box;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  background-color: var(--accent-red);
  border-radius: 5px;
  color: var(--basic-white);
  font-size: 14px;
}

.LineForm a:hover,
.LineForm a:active {
  background-color: var(--basic-grey-light);
}

@media (min-width: 768px) {
  .LineForm a {
    margin-top: 0;
  }
}

/* PicText */

.PicText__wrapper {
  display: none;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .PicText__wrapper {
    display: flex;
  }
}

.PicText__title {
  margin: 0 0 30px;
  color: var(--basic-black);
  font-size: 32px;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: -1.08px;
  text-align: left;
}

.PicText__text {
  margin: 0;
  color: var(--basic-grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.PicText__img {
  margin: 20px auto 0;
  width: 350px;
}

@media (min-width: 1160px) {
  .PicText__img {
    width: 550px;
  }
}

.FormSection {
  margin-top: 40px;
  margin-bottom: 80px;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: var(--background--grey);
}

@media (min-width: 768px) {
  .FormSection {
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 73px;
  }
}

.footer {
  padding-bottom: 20px;
}

.footer__wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--basic-grey);
}

.footer h4 {
  margin: 0;
  margin-bottom: 30px;
  color: var(--basic-white);
  font-weight: normal;
  font-size: 18px;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer ul li:not(:last-child) {
  margin-bottom: 5px;
}

.footer ul a {
  color: var(--basic-grey-light);
  font-weight: normal;
}

.footer ul a:hover,
.footer ul a:active {
  color: var(--basic-white);
}

.footer__copyright {
  padding-left: 20px;
  margin-top: 20px;
  font-size: 12px;
}

@media (min-width: 768px) {
  .footer__copyright {
    padding: 0;
  }
}

.article {
  margin-bottom: 50px;
}

.article h3 {
  font-size: 18px;
  color: var(--basic-black);
}

.article p {
  color: var(--basic-grey);
}

.PicText__wrapper {
  display: none;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .PicText__wrapper {
    display: flex;
  }
}

.PicText__title {
  margin: 0 0 30px;
  color: var(--basic-black);
  font-size: 32px;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: -1.08px;
  text-align: left;
}

.PicText__text {
  margin: 0;
  color: var(--basic-grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.PicText__img {
  margin: 20px auto 0;
  width: 350px;
}

@media (min-width: 1160px) {
  .PicText__img {
    width: 550px;
  }
}

.ContactFormBig {
  padding: 40px 20px;
  background-color: var(--basic-white);
  border-radius: 5px;
  /*box-shadow: 0 35px 48px 0 rgba(0,0,0,.07);*/
  text-align: left;
}

@media (min-width: 768px) {
  .ContactFormBig {
    padding: 40px 50px;
  }
}

.ContactFormBig h4 {
  margin: 0;
  margin-bottom: 20px;
  color: var(--basic-grey);
  line-height: 2.5;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: -.56px;
  border-bottom: 2px solid var(--background--grey);
}

.ContactFormBig > span {
  color: var(--basic-grey);
  font-size: 16px;
}

/*.ContactFormBig form {*/
/*    margin-top: 20px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.ContactFormBig input {*/
/*    margin-bottom: 15px;*/
/*    padding-left: 55px;*/
/*    padding-right: 20px;*/
/*    min-height: 50px;*/
/*    color: var(--basic-grey);*/
/*    box-shadow: 0 35px 50px 0 rgba(0,0,0,.07);*/
/*    border: 1px solid var(--background--grey);*/
/*    border-radius: 5px;*/
/*    font-size: 14px;*/
/*    font-weight: 600;*/
/*}*/

/*.ContactFormBig input:focus {*/
/*    box-shadow: none;*/
/*    border-color: inherit;*/
/*}*/

/*.ContactFormBig button {*/
/*    margin-bottom: 30px;*/
/*    background-color: var(--accent-red);*/
/*    color: var(--basic-white);*/
/*    border: none;*/
/*    border-radius: 3px;*/
/*    padding: 15px 20px;*/
/*    font-weight: bold;*/
/*    font-size: 18px;*/
/*}*/

.ContactFormBig button:hover {
  background-color: var(--basic-grey);
}

/*.ContactFormBig button:active {*/
/*    background-color: var(--basic-grey);*/
/*}*/

.ContactFormBig ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  list-style: none;
  display: flex;
}

.ContactFormBig li {
  color: gold;
}

.ContactFormBig li:not(:last-child) {
  margin-right: 5px;
}

.ContactFormBig__clients {
  color: var(--basic-grey-light);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -.5px;
}

.ContactFormBig select {
  margin-bottom: 15px;
  padding-left: 55px;
  padding-right: 20px;
  min-height: 50px;
  color: var(--basic-grey);
  box-shadow: 0 35px 50px 0 rgba(0,0,0,.07);
  border: 1px solid var(--background--grey);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
}

.ContactFormBig select:focus {
  box-shadow: none;
  border-color: inherit;
}

/* news */

.news {
  margin-bottom: 40px;
}

@media (max-width: 1160px) {
  .news h2 {
    text-align: center;
  }
}

.news .ant-space {
  justify-content: center;
  flex-wrap: wrap;
}

.news .ant-card {
  height: 100%;
}

.news .ant-card-body {
  padding: 0 !important;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.news .ant-space-item {
  width: 95%;
}

@media (min-width: 768px) {
  .news .ant-space-item {
    width: 45%;
  }
}

@media (min-width: 1160px) {
  .news .ant-space-item {
    width: 380px;
  }
}

.news .ant-tag {
  position: absolute;
  background-color: var(--basic-grey);
  top: 20px;
  left: 20px;
  border: none;
  color: var(--basic-white);
  font-weight: bold;
}

.news-item__info {
  padding: 24px 24px 40px;
}

.news .ant-space-align-center {
  align-items: normal;
}

.news h3 {
  letter-spacing: normal;
}

.news .news-item__link {
  margin-top: auto;
  min-height: initial;
  flex-direction: row;
  padding: 10px;
  background-color: transparent;
  border-top: 1px solid #f0f0f0;
  border-radius: 0;
  color: var(--accent-red);
}

.news .news-item__link .anticon svg {
  margin-left: 5px;
}

.newsPage {
  display: flex;
}

.newsPage__wrapper {
  max-width: 1160px;
  width: 90vw;
  margin: 50px auto;
}

.newsPage__title {
  letter-spacing: normal;
  font-size: 40px;
  text-align: center;
}

.newsPage__content {
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-column-gap: 20px;
}

@media (max-width: 768px) {
  .newsPage__title {
    font-size: 30px;
  }

  .newsPage__content {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
}

.newsPage__info {
  display: flex;
  flex-direction: column;
}

.newsPage__date {
  padding-top: 10px;
  color: var(--basic-black);
  font-weight: bolder;
}

.newsPage__text {
  text-align: justify;
}

.newsPage__link {
  margin-top: auto;
  padding: 10px 0;
  border-top: 1px solid #f0f0f0;
}


.newsList {
  display: flex;
}

.newsList__wrapper {
  max-width: 1160px;
  width: 90vw;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}

@media (max-width: 375px) {
  .newsList__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.newsList__item {
  width: 100%;
}

.newsList__item .newsList__date {
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 10px;
}

.error-page {
  display: flex;
  margin: 40px 0;
}

.error-page__wrapper {
  max-width: 1160px;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-page__image {
  width: 60%;
  margin-bottom: 30px;
}

.error-page h1,
.error-page h3 {
  text-align: center;
}

@media (max-width: 425px) {
  .error-page h1 {
    font-size: 1.5rem;
  }

  .error-page h3 {
    font-size: 0.75rem;
  }
}

.promo__title {
  letter-spacing: normal;
}

.promo__subtitle {
  letter-spacing: normal;
}

@media (min-width: 1160px) {
  .hero .promo__title {
    font-size: 46px;
  }

  .hero .promo__subtitle {
    margin-bottom: 50px;
  }
}
